/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/* See _vars.scss */
$linko:#f4810f;
$text:#3a363d;
$teal:#77c7c6;
$tan:#dbd8cf;
$grey:#3d393a;
$orange:#e16e2b;
$pink:#c9005d;
