/*                            ,--,           ,----,             
**                         ,---.'|         ,/   .`|             
**     ,----..             |   | :       ,`   .'  :   ,---,     
**    /   /   \            :   : |     ;    ;     / .'  .' `\   
**   /   .     :           |   ' :   .'___,/    ,',---.'     \  
**  .   /   ;.  \          ;   ; '   |    :     | |   |  .`\  | 
** .   ;   /  ` ;          '   | |__ ;    |.';  ; :   : |  '  | 
** ;   |  ; \ ; |          |   | :.'|`----'  |  | |   ' '  ;  : 
** |   :  | ; | '          '   :    ;    '   :  ; '   | ;  .  | 
** .   |  ' ' ' :          |   |  ./     |   |  ' |   | :  |  ' 
** '   ;  \; /  |          ;   : ;       '   :  | '   : | /  ;  
**  \   \  ',  . \         |   ,/        ;   |.'  |   | '` ,/   
**   ;   :      ; |        '---'         '---'    ;   :  .'     
**    \   \ .'`--"                                |   ,.'       
**     `---`                                      '---'         
*/                                                             





/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

/**
 * BASE...................Brings in Compass, Normalize, Susy, Variables and Mixins
 * HTML5 Bolierplate......HTML5 Boilerplate Styles
 * Elemental Styles.......Styles for HTML Elements
 * Utilities..............Reusabel Utility Classes
 * Content................Page Content
 * * Header...............Header Bar Styles
 * * Headline.............Headline / Welcome Area
 * * Main Content.........Main Content Area General Styles
 * * Sections.............Page Section Specific Styles
 * * * About
 * * * Work
 * * * Services
 * * * Crew
 * * * Clients
 * * * Contact
 * * * Portfolio
 * * Footer...............Footer Section of the Site aka Connect Panel
 * Helper Classes.........Things like clearfix, image replace
 */





 @import 'base';

//this is the default number of columns
$total-columns: 5;

//width of each column
$column-width   : 4em;

//space between columns
$gutter-width   : 1em;

//space on the right and left of the grid
$grid-padding   : $gutter-width;

//alternative layout breakpoints
$tablet: 8;
$computer: 55em 12;
$wide: 66em 12;

// Widest width size
$container-width:1440px;





/*------------------------------------*\
    $HTML5 BOILERPLATE
\*------------------------------------*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }x

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


// A better looking default horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
  vertical-align: middle;
}

// Remove defauly fieldset styles
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

//Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// Chrome Frame
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}





/*------------------------------------*\
    $ELEMENTAL STYLES
\*------------------------------------*/

body, p, li, table {
	color:$text;
}

body {
	padding:0;
	font-size: 100%;
}

h2 {
	font: 700 40px "adelle", serif;
}
h3 {
	font: 300 40px "adelle", serif;
	color:white;
	text-align: center;
}
h4 {
  font: 700 16px "adelle", serif;
  margin: 0;
}
h5 {
  font: 400 12px "proxima-nova", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

p {
	font: 400 18px "proxima-nova", sans-serif;
}

a {
  text-decoration: none;
  @include transition;
}

input, textarea {
  width: 100%;
  margin-bottom: 15px;
  font:italic 700 21px "adelle", serif;
  padding:20px;
  -webkit-appearance: none;
  border:none;
}
input {
  height:75px;
}
@include at-breakpoint($computer) {
  p {
    font-size: 24px;
  }
}





/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

ul.inline li {
	display: inline-block;
	& + li {
		margin-left: 20px;
	}
}

// Reusable
.flyout {
  background: rgba($grey, 0.9);
  padding:20px;
  position: absolute;
  width: 410px;
  right: 80%;
  top:50px;
  opacity: 0;
  z-index:-100;
  @include transition;
  p {
    color: #FFF;
    font: 400 13px "proxima-nova", sans-serif;
  }
  &:after {
    content:' ';
    display: block;
    position: absolute;
    top:20px;
    right:-15px;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid rgba($grey, 0.9);
  }
}
ul li:hover {
  .flyout {
    color:white;
    z-index:100;
    top:-18px;
    opacity:1.0;
  }
}





/*------------------------------------*\
    $CONTENT
\*------------------------------------*/


/*--$HEADER--*/

.header {
	color:white;
	background:$grey;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  padding: 25px 0 20px;
}

.logo {
	margin: 0 0 0 4%;
	width:233px;
	height: 55px;
	text-indent: -9999px;
	float: left;
	background: url(../images/logo.png) no-repeat;
}

.main-nav {
  display: none;
  float: right;
  margin: 17px 6% 0 0;
  a {
    @include navText;
    &:hover {
     color:$linko;
   }
 }
}

@include at-breakpoint($computer) {
  .header {
    padding:35px 0 40px;
  }
  .main-nav {
    display: block;
  }
}


/*--$HEADLINE--*/

.headline {
  margin-top: 100px;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  h3 {
    font-size: 30px;
    width:70%;
    margin: 0 auto;
    z-index: 100;
    position: relative;
  }
  .teal {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 95;
    height:700px;
    background: rgba(#6ca6a6, 0.8);
  }
  video {
    min-height: 320px;
    position: absolute;
    z-index: 50;
    bottom:0;
  }
}

@include at-breakpoint($computer) {
  .headline {
    margin-top: 146px;
    height: 600px;
    h3 {
      font-size: 40px;
    }
    video {
      width: 100%;
    }
  }
}


/*--$MAIN CONTENT--*/

.panel {
  position: relative;
  padding:50px 20px 60px;
  margin-bottom: 8px;
  overflow: hidden;
  h2, p {
    position: relative;
    z-index:100;
  }
    // Paralax Test
    .q {
      display: block;
      background: url(../images/tanq.png);
      width: 351px;
      height: 342px;
      position: absolute;
      z-index: 1;
      font-size: 10em;
    }
    .pinq {
      background: url(../images/pinq.png);
    }
    .content {
      z-index:100;
      position: relative;
    }
  }
  @include at-breakpoint($computer) {
    .panel {
      padding:190px 20px 160px;
      h2 {
        @include span-columns(4 alpha);
        padding-left: 40px;
        margin-top: 24px;
      }
      .content {
        @include span-columns(8 omega);
      }   
    }
  }

  .container {
    @include container($total-columns, $tablet, $computer, $wide);
  }


/*--$SECTIONS--*/

/* $about */
.about {
	background: white;
}


/* $work */
.work {
	background: $tan;
}

/* $services */
.services {
	background: $orange;
  ul {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      margin: 0;
      padding: 5px 0;
      color: #FFF;
      font:italic 700 19px "adelle", serif;
      cursor: pointer;
      @include transition;
      &:hover {
        color: $grey;
      }
    }
  }
  .flyout {
    width: 410px;
    left: -435px;
    top:50px;
  }
  @include at-breakpoint($computer) {
    .first {
      @include span-columns(4, 8);
    }
    .last {
      @include span-columns(4 omega, 8);
    }
  } 
}

/* $value */
.value {
	background: $tan;
}

/* $crew */
.crew {
  padding:190px 20px 160px;
  background:$teal;
}
.crew-grid {
  li {
    float:left;
    list-style: none;
    position: relative;
  }
  img {
    border:10px solid transparent;
    @include transition;
    &:hover {
      border-color:$pink;
    }
  }
  .flyout {
    width: 410px;
    right: 29%;
    top: 155px;
  }
  ul li:hover {
    .flyout {
      color:white;
      z-index:100;
      top:150px;
      opacity:1.0;
    }
  }
}

/* $clients */
.clients {
	background: $pink;
}

/* $contact */
.contact {
	background:$tan;
}
#contact-submit {
  height: auto;
  float: right;
  width: auto;
  display: block;
  background: $pink;
  color:white;
  padding: 20px;
  @include navText(13px);
  @include transition;
  &:hover {
    background: $pink - 30;
  }
}


/* $portfolio */
.portfolio {
  @include transition(1s);
  background: white;
  height: 100%;
  top: 100%;
  opacity:0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  &.open {
    top:0;
    opacity:1;
  }
}
.project {
  display:none;
  header {
    background: $grey;
    padding:110px 0;
    h3 {
      margin: 0;
      @include projTitle;
    }
    @include at-breakpoint($computer) {
      h3 {
        @include span-columns(4 alpha);
      }
      .content {
        @include span-columns(8 omega);
      }  
    }
    p {
      color:white;
      font-size: 18px;
      margin-top: 0;
      a {
        color:$orange;
      }
    }
  }
  section {
    margin-top: 8px;
    background: $tan;
    padding:50px 0 200px;
  }
  &.active {
    display: block;
  }
  footer {
    background: $grey;
    padding:50px 0;
  }
}
.close {
  display: block;
  background: $pink;
  color:white;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  @include navText(13px);
  @include transition;
  &:hover {
    background: $pink - 30;
  }
}


/*--$FOOTER--*/

footer#footer {
  background: $text; 
  padding:125px 0;  
  color:white;
  h2 {
    color:white;
    margin-top: 0;
    padding:0;
  }
}
.social {
  li {
    display: inline-block; 
    a {
      color:white;
      font-size: 30px;
      display: block;
      position: relative;
      padding: 10px;
      i {
        position: relative;
        @include transition;
      }
      span {
        text-align: center;
        opacity: 0;
        z-index: -100;
        position: absolute;
        background: $tan;
        @include transition;
        @include navText(12px);
        color:$text;
        display: block;
        padding:10px 20px;
        top:-65px;
        left:-30px;
        width:105px;
        &:after {
          content:'';
          border-top: #dbd8cf dotted 15px;
          border-left: transparent solid 15px;
          border-right: transparent solid 15px;
          position: absolute;
          bottom: -15px;
          left: 36%;
        }
      }
      &.facebook span {
        left:-35px;
      }
      &:hover {
        color:orange;
        i {
          bottom:5px;
        }
        span {
          top:-45px;
          opacity: 1;
          z-index:100;
        }
      }
    }
  }
}

.newsletter {
  form {
    input {
      float: left;
      height: 55px;
      margin-bottom: 0;
    }
    .field {
      width:64%;
      background: #bebcbf;
    }
    #submitbutton {
      background: $teal;
      @include navText;
      margin-left: 2%;
      white-space: normal;
      width:34%;
      padding:10px 15px;
    }
  }
  p {
    font-family: "proxima-nova";
    font-size: 12px;
    color: #bebcbf;
    font-weight: normal;
  }
}

@include at-breakpoint($computer) {
  h2 {
    padding-left: 40px;
    @include span-columns(4 alpha);
  }
  .social {
    @include span-columns(4);
  }
  .newsletter {
    @include span-columns(4 omega);
  }
}





/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/
/*
 * Image replacement
 */

 .ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
  }

  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .clearfix:after {
    clear: both;
  }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

   @media print {
    * {
      background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links for images, or javascript/internal links
     */

     .ir a:after,
     a[href^="javascript:"]:after,
     a[href^="#"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
      }

      tr,
      img {
        page-break-inside: avoid;
      }

      img {
        max-width: 100% !important;
      }

      @page {
        margin: 0.5cm;
      }

      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }

      h2,
      h3 {
        page-break-after: avoid;
      }
    }